/*****width and height******/

.height-screen {
    height: 100vh;
}
.height-50 {
    height: 50%;
}

.width-screen {
    width: 100vw;
}

.width-50 {
    width: 50%;
}

.width-100 {
    width: 100%;
}

.width-400 {
    width: 400px;
}
/*********** flex ***********/

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.gap-1 {
    gap: 10px;
}

.gap-2 {
    gap: 20px;
}

.gap-3 {
    gap: 30px;
}


/******** margin & padidng ********/

.m-1 {
    margin:10px;
}

.m-2 {
    margin: 20px;
}

.m-3 {
    margin: 30px;
}

.m-4 {
    margin: 40px;
}

.m-5 {
    margin: 50px;
}
.margin-top-1{
    margin-top: 10px;
}
.margin-top-2{
    margin-top: 20px;
}

.margin-top-3{
    margin-top: 40px;
}

.p-1 {
    padding:10px;
}

.p-2 {
    padding: 20px;
}

.p-3 {
    padding: 30px;
}

.flex {
    display: flex;
  }
  
  .margin-left-3 {
    margin-left: 20px; /* Adjust this value for spacing between cards */
  }