:root {
    --brand-primary: #037dd6;
    --surface-dark: #0A2540;
    --text-light: #ffffff;
    --text-highlight: #0A2540;
    --border-subtle: #141618;
    --accent-active: #037dd6;
    --text-muted: #848c96;
    --primary: #222645;
    --secondary: white; 
    --third: rgb(86, 149, 227);
}


.background-primary{
    background-color: var(--surface-dark) !important;
}

.background-secondary{
    background-color: var(--secondary) !important;
}

.text-primary{
    color: #fff !important;
}

.text-secondary{
    color: var(--secondary) !important;
}

.text-white {
    color: #fff !important;
}

.success-background{
    background-color: #55cd91!important;
    color: white!important;
    padding: 10px;
    border-radius: 3px;
}

.error-background{
    background-color: #de7474!important;
    color: white!important;
    padding: 10px;
    border-radius: 3px ;
}